.container
  .row
    %div
      %tr
        %td #{image_tag(@product.url, :class=>"product_image_size")}
        %td
          %table
            %tr
              %td 类别：
              %td= fetch_product_category @product.category
            %tr
              %td 名称：
              %td #{@product.name}
            %tr
              %td 价格：
              %td #{@product.price}
            %tr
              %td 描述：
              %td #{@product.describe}