.div
  = form_for :session, :url => sessions_path, :html => { :class => "form-horizontal" } do |f|
    = f.label :email, "邮箱"
    = f.text_field :email, :placeholder => "邮箱"
    = f.label :password, "密 码"
    = f.password_field :password, :placeholder => "密码"
    %br
    .ui-submit.ui-btn.ui-btn-up-c.ui-shadow.ui-btn-corner-all(data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" data-theme="c" data-disabled="false" aria-disabled="false")
      .btn.ui-btn-inner(onclick="window.location.href='/signup'" )
        %span.ui-btn-text
          %strong
            注册
    = f.submit '登录', :class => "btn"