%h1 用户列表
%br

%table.table
  %thead
    %tr
      %th 姓名
      %th 邮箱
      %th 密码
      %th 电话
      %th 用户权限
      %th
      %th
      %th

  %tbody
    -@admin_management_users.each do |admin_management_user|
      %tr
        %td= admin_management_user.name
        %td= admin_management_user.email
        %td= admin_management_user.password
        %td= admin_management_user.phone
        %td= admin_management_user.admin
        %td= link_to '详细信息', admin_management_user
        %td= link_to '编辑', edit_admin_management_user_path(admin_management_user)
        %td= link_to '删除', admin_management_user, method: :delete, data: { confirm: 'Are you sure?' }
%br

= link_to '新建用户', new_admin_management_user_path
