<h1>Listing admin_management_users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Password</th>
      <th>Phone</th>
      <th>Admin</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_management_users.each do |admin_management_user| %>
      <tr>
        <td><%= admin_management_user.name %></td>
        <td><%= admin_management_user.email %></td>
        <td><%= admin_management_user.password %></td>
        <td><%= admin_management_user.phone %></td>
        <td><%= admin_management_user.admin %></td>
        <td><%= link_to 'Show', admin_management_user %></td>
        <td><%= link_to 'Edit', edit_admin_management_user_path(admin_management_user) %></td>
        <td><%= link_to 'Destroy', admin_management_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin management user', new_admin_management_user_path %>
