%p#notice
  = notice

.row
  %br
  .col-sm-4
    %h4 账户信息
    %hr
    .admin-useredit.clearfix
      %label 姓名:
      %span= @admin_management_user.name
    .admin-useredit.clearfix
      %label 邮箱:
      %span= @admin_management_user.email
    .admin-useredit.clearfix
      %label 电话:
      %span= @admin_management_user.phone
    .admin-useredit.clearfix
      %label 密码:
      %span= @admin_management_user.password
    .admin-useredit.clearfix
      %label 权限:
      %span= @admin_management_user.admin