.container
  .row
    %p
      %table.table.table-hover.table-striped
        %tbody
          -@seller_orders.each do |order|
            %tr
              %td #{image_tag(order[:product_info].url, :class=>"product_image_size")}
              %td
                %table.table.table-hover
                  %tr
                    %td(aligin="center")类型:
                    %td=order[:product_info].category
                    %td(aligin="center")未付款:
                    %td=order[:orders_info]["未付款"].length if order[:orders_info]["未付款"].present?
                    %td= 0 if order[:orders_info]["未付款"].blank?
                  %tr
                    %td(algin="center")名称:
                    %td=order[:product_info].name
                    %td(algin="center")已付款:
                    %td=order[:orders_info]["已付款"].length if order[:orders_info]["已付款"].present?
                    %td= 0 if order[:orders_info]["已付款"].blank?
                  %tr
                    %td(algin="center")价格:
                    %td=order[:product_info].price
                    %td(algin="center")已完成:
                    %td=order[:orders_info]["已完成"].length if order[:orders_info]["已完成"].present?
                    %td= 0 if order[:orders_info]["已完成"].blank?
                  %tr
                    %td(algin="center")描述:
                    %td=order[:product_info].describe
                    %td(algin="center")
                    %td
                      %a.btn.btn-default.btn-default-alt(href= "seller_order_detail/#{order[:product_info].id}")
                        %strong
                          %i.icon-arrow-up
                          查看详情


